<%- include('../partials/head') %>

    <h1>
        <%= userList.username%> Movie Watchlist:
    </h1>
    <div class="movie-container">
        <div class="movies-list">
            <% userList.movies.forEach(movie=> { %>

                <div class="card-container">
                    <div class="card">
                        <img src="<%= movie.poster %>" class="card-img-top" alt="<%= movie.title %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= movie.title %>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                <%= movie.rating %>/10
                            </h6>
                            <p class="card-text">
                                <%= movie.genre %>
                            </p>
                            <p class="card-text">
                                <%= movie.watchStatus %>
                            </p>
                            
                            
                            

                            
                        </div>
                    </div>
                </div>

                <% }) %>

        </div>
    </div>

    <%- include('../partials/footer') %>

    