<%- include('../partials/head') %>


<div class="container">

    <h1>Edit movie:</h1>
    <form action="/users/<%= user._id %>/movies/<%= movieId._id %>?_method=PUT" method="POST"  >
        <label for="title">Movie Name:</label>
        <input type="text" name="title" id="title" value="<%= movieId.title %>">
        <label for="genre">Genre:</label>
        <input type="text" name="genre" id="genre" value="<%= movieId.genre %>" >
        <label for="review">Review:</label>
        <textarea name="review" id="review"> <%= movieId.review %> </textarea>
        <label for="watchStatus">Watch Status:</label>
        <label for="">poster</label>
        <input type="text" name="poster" >
        <select name="watchStatus" id="watchStatus">
            <option value="" selected disabled></option>
            <option value="watched" <%= movieId.watchStatus === "watched" ? "selected" : '' %>>Watched</option>
            <option value="to watch" <%= movieId.watchStatus === "to watch" ? "selected" : '' %>>To watch</option>
            <option value="watching" <%= movieId.watchStatus === "watching" ? "selected" : '' %>>Watching</option>
            
        </select>
        <label for="rating">Rating:</label>
        <input type="text" name="rating" id="rating" value="<%= movieId.rating %>">


        <button type="submit" class="btn btn-primary">Apply Edit</button>
    </form>
    
</div>


<%- include('../partials/footer') %>