<%- include('../partials/head') %>

    <h1>your movie watchlist</h1>
    <% userMovies.movies.forEach(movie => { %>
        <div class="card" style="width: 18rem; margin:15px">
            <div class="card-body">
              <h5 class="card-title"><%= movie.title %></h5>
              <h6 class="card-subtitle mb-5 text-body-secondary"><%= movie.rating %></h6>
              <p class="card-text"><%= movie.review %></p>
              <a href="/users/<%= user._id %>/movies/<%= movie._id %>" class="btn btn-primary">show more</a>
            </div>
          </div>



    <% }) %>

<%- include('../partials/footer') %>