<%- include('../partials/head') %>

    <h1>your movie watchlist</h1>
    
        <div class="card" style="width: 18rem; margin:15px">
            <div class="card-body">
              <h5 class="card-title"><%= movieId.title %></h5>
              <h6 class="card-subtitle mb-5 text-body-secondary"><%= movieId.rating %></h6>
              <p class="card-text"><%= movieId.review %></p>
              <a href="/users/<%= user._id %>/movies/<%= movieId._id %>/edit" class="btn btn-danger">edit movie</a>
            </div>
          </div>



  

<%- include('../partials/footer') %>